<a href="https://colab.research.google.com/github/tantai17132002/btcolab/blob/main/b%C3%A0i_11(ch%C6%B0%C6%A1ng_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list2 = [({'name': 'Peter', 'age':2}, {'name': 'John', 'age':21}), 
         ({'name': 'Mary', 'age':2}, {'name': 'Trandanpro', 'age':21}), 
         ({'name': 'Nam', 'age':2}, {'name': 'Hung', 'age':21}), 
         ({'name': 'Mai', 'age':2}, {'name': 'Loan', 'age':21})]
for a in list2:
    for b in a:
     print(b)
     for c,d in enumerate(b,2):
         print(c,d,":",b[d])

{'name': 'Peter', 'age': 2}
2 name : Peter
3 age : 2
{'name': 'John', 'age': 21}
2 name : John
3 age : 21
{'name': 'Mary', 'age': 2}
2 name : Mary
3 age : 2
{'name': 'Trandanpro', 'age': 21}
2 name : Trandanpro
3 age : 21
{'name': 'Nam', 'age': 2}
2 name : Nam
3 age : 2
{'name': 'Hung', 'age': 21}
2 name : Hung
3 age : 21
{'name': 'Mai', 'age': 2}
2 name : Mai
3 age : 2
{'name': 'Loan', 'age': 21}
2 name : Loan
3 age : 21